html{
    height: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(250px, auto);
}

.blue{
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: #0000ff;
}

.white{

    grid-column: 2 / 3;
    grid-row: 1;
    background-color: #ffffff;
}

.red{
    grid-column: 3 / 3;
    grid-row: 1;
    background-color: #ff0000;
}