html{
    height: 100%;
    
}

.grid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 630px;
    width: 730px;
    border-style: solid;
    border-color: black;
    border-radius: 1px;
}

.green{
    background-color: #008000;
    width: 350px;
    height: 300px;
    margin: 10px 5px 5px 10px;
}

.red{
    background-color: #ff0000;
    width: 350px;
    height: 300px;
    margin: 5px 5px 10px 10px;

}

.blue{
    background-color: #0000ff;
    width: 350px;
    height: 150px;
    margin: 10px 10px 5px 5px;

}

.purple{
    background-color: #8a2be2;
    width: 350px;
    height: 450px;
    margin: 5px 10px 10px 5px;
}