html{
    height: 100%;
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
  }

.box{
    width: 600px;
    height: 190px;
    border: solid;
    border-width: 1px;
    border-style: dotted;
    padding: 20px;
    border-color: #931414;
}

.yellow{
    float: left;
    width: 50%;
    height: 150px;
    background-color: #f0e68c;
    border: solid;
    border-width: 1px;
    border-color: #3f5b54;
}

.blue{
    float: left;
    width: 50%;
    height: 150px;
    background-color: #e0ffff;
    border: solid;
    border-width: 1px;
    border-color: #ce6565;
}